
    <div class="bar bar-positive">
    <h1 class="title">Salesman App</h1>
    <button class="button button-stable" ng-click="signOut()" ng-show="isLoggedIn"  >Sign Out</button>
    </div>
    <br><br><br>

<br><br><br>



<button class="button button-calm" ui-sref="dashboard.createCompany" ng-click="me()" ng-show="mani">
  Create User
</button>

<button class="button button-calm"  ng-show="mani">
  Salesman
</button>

<button class="button button-calm" ng-show="mani">
  Products
</button>


<div ng-show="!hide_company_input">
<h1 style="color: #808080">Welcome to Company</h1>

<div class="list" ng-show="!mani">
  <label class="item item-input">
    <span class="input-label" style="background-color:	#596A70;color:#33CCFF;padding:15px;margin:-10px">Company Name</span>
    <input style="padding:25px" type="text" ng-model="comData.companyName" ng-required="required">
  </label>


  <div class="list" ng-show="!mani">
  <label class="item item-input">
    <span class="input-label" style="background-color:#596A70;color:#33CCFF;padding:15px;margin:-10px">Company Address</span>
    <input type="text" style="padding:25px" ng-model="company.companyAddress" ng-required="required">
  </label>


  <button class="button button-energized" ng-click="addCompany(comData)" >Add Company</button>

  </div>
</div>
</div>

